@media (width >= 800px) {
    .table_of_contents {
        width: 20%;
    }

    .content {
        width: 65%;
    }

    .social_icons {
        width: 15%;
    }

    .cardGapX {
        padding: 4rem 5%;
    }

    .cardsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*.cardNumber{*/
    /*    padding: 0 0 0 50%;*/
    /*}*/
}

@media (width < 800px) {

}
